.quiz__wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 3% 0 3% 0;
}
.nextButton {
    cursor: pointer;
}
.quiz__options-answers-wrap {
    display: flex;
    justify-content: space-between;
}
.rightAnswer__info {
    padding: 5%;
    display: flex;
    flex-direction: column;

}

.rightAnswer__wrap-top {
    display: flex;
}

.rightAnswer__pic-img {
    width: 30%;
    border-radius: 10px;
    max-height: 240px;
}

.rightAnswer__wrap {
    background-color: #303030;
    border-radius: 0.25rem;
    border: 1px solid #555;
    width: 48.5%;
}
.rightAnswer__wrap-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.rightAnswer__list {
    list-style: none;
    width: 50%;

}

.rightAnswer__item {
    width: 100%;
}

.rightAnswer__noAnswer {
    padding: .85rem 1.25rem;
}

.rightAnswer__title {
    font-weight: 500;
    font-size: 30px;
    padding-bottom: 8px;
}
.rightAnswer__audio {
    width: 100%;
}

.rightAnswer__latin {
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    border-top:  1px solid #555;    
    border-bottom:  1px solid #555;
    margin-bottom: 20px;
}
.rightAnswer__info {
    padding: 20px;
    display: flex;
    flex-direction: column;

}

.rightAnswer__wrap-top {
    display: flex;
}

.rightAnswer__pic-img {
    width: 100%;
    border-radius: 5%;
    max-height: 240px;
}

.rightAnswer__wrap {
    background-color: #303030;
    border-radius: 0.25rem;
    border: 1px solid #555;
    width: 48.5%;
}
.rightAnswer__wrap-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10%;
}

.rightAnswer__list {
    list-style: none;
    width: 50%;

}

.rightAnswer__item {
    width: 100%;
}

.rightAnswer__noAnswer {
    padding: .85rem 1.25rem;
}

.rightAnswer__title {
    font-weight: 500;
    font-size: 30px;
    padding-bottom: 3%;
}
.rightAnswer__audio {
    width: 100%;
}

.rightAnswer__latin {
    display: inline-block;
    padding-top: 3%;
    padding-bottom: 3%;
    width: 100%;
    border-top:  1px solid #555;    
    border-bottom:  1px solid #555;
    margin-bottom: 5%;
}

.options__wrap {

    border-radius: 0.25rem;
    border: 1px solid rgba(85, 85, 85, 0);
    width: 48.5%;
}

.displayNone {
    display: none !important;
}

.options__list {
    width: 100%;
    list-style: none;
    background-color: #303030;
}

.options__list-item{
    padding: .85rem 1.25rem;
    cursor: pointer;
    border: 1px solid #555;
}

.options__list-item-active {
padding: .85rem 1.25rem;
cursor: pointer;
border: 1px solid #555;
}
.nextButton {
    width: 100%;
    padding: 1%;
    background-color: #303030;
    border: 1px solid #444;
    color: #fff;
    font-size: 0.9375rem;
    border-radius: 0.25rem;
    margin-top: 2%;
    cursor: pointer;
}

.btnActive {
    background-color: #00bc8c;
}

.quiz__final-score {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.quiz__final-score-title {
    font-size: 36px;
}

.quiz__final-score-img {
    margin: 30px 30px;
}

.quiz__final-score-paragraph {
    font-size: 28px;
}

.quiz__final-score-btn {
    padding: 2%;
    font-size: 22px;
    border-radius: 1rem;
    background-color: #00bc8c;
    margin-top: 20px;
}
.options__circle {
    display: inline-block;
    width: 0.7rem;
    height: 0.7rem;
    margin-right: 3%;
    border-radius: 50%;
    -webkit-transition: .1s;
    transition: .1s;
    background-color: #444;
}
.options__circle-wrong {
    display: inline-block;
    width: 0.7rem;
    height: 0.7rem;;
    margin-right: 3%;
    border-radius: 50%;
    -webkit-transition: .1s;
    transition: .1s;
    background-color: red;
}

@media (max-width: 1024px) {
    .App {
        max-width: 900px !important;
    }

    .header__credentials-wrap {
        width: 30%;
    }

    .quiz__final-score {
        padding-bottom: 3%;
    }
}

@media (max-width: 768px)  {
    .App {
        max-width: 700px !important;
    }

    .header__credentials-wrap {
        width: 40%;
    }

    .nav__list {
        align-items: center;
    }

    .nav__item-link {
        height: 100%;
        font-size: 12px;
    }

    .header__link {
        padding: 0.3em;
        font-size: 16px;
    }

    .header__logo {
        width: 11em;
        background-position: center;
    }
}

@media (max-width: 425px)  {
    .App {
        max-width: 400px !important;
    }

    .header__credentials-wrap {
        width: 50%;
        & a, & h3 {
            font-size: 14px;
        } 
    }

    .nav__item {
        width: 88%;
    }

    .nav__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    
    .audioBlock__wrap {
        width: 100%;
        
    }

    .nav__item-link {
        width: 100%;
    }

    .header__link {
        padding: 0.2em;
        font-size: 16px;
    }

    .header__logo {
        width: 9em;
    }

    .audioBlock__wrap {
        flex-direction: column;
        padding: 5% 0 5% 0;
    }

    .audioBlock__pic {
        margin-bottom: 2%;
    }

    .rightAnswer__wrap-top  {
        flex-direction: column;
    }

    .rightAnswer__list {
        width: 100%;
    }

    .nextButton {
        padding: 2%;
    }

    .quiz__final-score-img {
        max-width: 60%;
    }

    .quiz__final-score-title, .quiz__final-score-paragraph {
        text-align: center;
    }
}

@media (max-width: 375px) {
    .App {
        max-width: 340px !important;
    }

    .header {
        flex-direction: column;
    }

    .header__credentials-wrap    {
        width: 80%;
    }

    .audioBlock__info {
        width: 95%;
        margin-left: 0 ;
    }

    .quiz__options-answers-wrap {
        flex-direction: column;
    }

    .options__wrap, .rightAnswer__wrap, .rightAnswer__noAnswer {
        width: 100%;
    }

    .options__wrap {
        margin-bottom: 3%;
    }

    .nav__item-link {
        width: 97%;
    }

    .rightAnswer__noAnswer {
        padding: 1%;
    }
}

@media (max-width: 320px) {
    .App {
        max-width: 300px !important;
    }

    .nav__item-link {
        width: 95%;
      }
}