@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
.sign-in__wrap, .profile__wrap {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sign-in__wrap-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70vh;
  background: linear-gradient(135deg, #ffebcc, #ff9e00);
  border-radius: 5%;
}

.profile__wrap {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sign-in__wrap-welcome {
  height: 100%;
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sign-in__title-welcome {
  text-align: center;
  color: #FF9E00;
  font-size: 74px;
  font-family: 'Permanent Marker', cursive;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.sign-in__switch-page {
  font-size: 18px;
  width: 100%;
  text-align: center;
}

.sign-in__container, .profile__container {
  border-radius: 38px;
  background-color: rgba(92, 92, 92, 0.507);
  height: 100%;
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-row {
  max-height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 35px;
}

.sign-in__btn, .sign-in___reset-btn {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #00bc8c;
  color: white;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 30px;
  cursor: pointer;
}

.sign-in__all-content {
  height: 60vh;
}

.form-row input {
  width: 20em;
}

.sign-in___reset-btn {
  margin-left: 5%;
}

.disabled-btn {
  background-color: #039671;
  cursor: text;
}

.sign-in__btn:hover, .sign-in___reset-btn:hover {
  -webkit-box-shadow: 2px 14px 19px -3px rgba(0, 188, 140, 0.2);
  box-shadow: 2px 14px 19px -3px rgba(0, 188, 140, 0.2);
}

.disabled-btn:hover {
  -webkit-box-shadow: 2px 14px 19px -3px rgba(0, 188, 141, 0) !important;
  box-shadow: 2px 14px 19px -3px rgba(0, 188, 141, 0) !important;
}

.input {
  width: 100%;
  display: inline-block;
  margin-bottom: 10%;
}

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
/*# sourceMappingURL=SignIn.css.map */