.profile__container{
    height: 35em;
    justify-content: space-between;
    background: -webkit-linear-gradient(135deg, rgb(255, 235, 204), rgb(255, 158, 0));
    background: -moz-linear-gradient(135deg, rgb(255, 235, 204), rgb(255, 158, 0));
    background: linear-gradient(135deg, rgb(255, 235, 204), rgb(255, 158, 0));
    color: rgb(54, 82, 76);
    padding: 2em 0.5em 2em 0.5em;
    margin: 2em 0 2% 0;
}

.profile__item-data {
    font-weight: bold;
}

.profile__item {
    font-size: 20px;
    display: inline-block;
    width: 20em;
    height: 50%;
    display: flex;
    align-items: center;
    padding-left: 5%;
}

.profile__name, .profile__email {
    border-bottom: 1px solid black;
}

.profile__circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3em;
    height: 3em;
    border: 3px solid #d84b4b;
    border-radius: 50%;
    background: #fdfdfdc0;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
}
.profile__credentials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.profile__names, .profile__additional-data {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em;
    height: 7em;
    width: 100%;
    background-color: rgba(92, 92, 92, 0.507);
}

.profile__btns {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 3% 0 3% 0;
}

.profile__edit-btn {
    border: 0;
}

@media (max-width: 768px) {
    .profile__names,  .profile__additional-data  {
        height: 4em;
    }

    .profile__item {
        width: 15em;
    }
}

@media (max-width: 425px) {
    .profile__container {
        width: 82%;
    }

    .profile__names p, .profile__additional-data p, 
    .profile__names span, .profile__additional-data span {
        font-size: 16px;
    }
}

@media (max-width: 375px) {
    .profile__container {
        height: 23em;
    }
    .profile__names, .profile__additional-data {
       padding: 0.5em;
    }
}

@media (max-width: 375px) {
    .profile__names p, .profile__additional-data p, 
    .profile__names span, .profile__additional-data span {
        font-size: 14px;
    }
}