.audioBlock__wrap {
    display: flex;
    width: 98%;
    justify-content: space-between;
    align-items: center;
    background-color: #303030;
    padding: 1%;
    border-radius: 0.25rem;
}

.audioBlock__pic {
    background-image: url(../../img/unknown-bird.jpg);
    width: 12.5em;
    height: 9.5em;
    border-radius: 10%;
}

.audioBlock__pic__rightAns-img {
    width: 200px;
    border-radius: 10px;
    max-height: 240px;
}

.audioBlock__info {
    width: 75%;
    margin-left: 5%;
    row-gap: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.audioBlock__name {
    font-size: 2rem;
    border-bottom: 1px solid #555;
    padding-bottom: 3%;
}