.rightAnswer__info {
    padding: 20px;
    display: flex;
    flex-direction: column;

}

.rightAnswer__wrap-top {
    display: flex;
}

.rightAnswer__pic-img {
    width: 200px;
    border-radius: 10px;
}

.rightAnswer__wrap {
    background-color: #303030;
    border-radius: 0.25rem;
    border: 1px solid #555;
    width: 48.5%;
}
.rightAnswer__wrap-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.rightAnswer__list {
    list-style: none;
    width: 50%;

}

.rightAnswer__item {
    width: 100%;
}

.rightAnswer__noAnswer {
    padding: .85rem 1.25rem;
}

.rightAnswer__title {
    font-weight: 500;
    font-size: 30px;
    padding-bottom: 8px;
}
.rightAnswer__audio {
    width: 100%;
}

.rightAnswer__latin {
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    border-top:  1px solid #555;    
    border-bottom:  1px solid #555;
    margin-bottom: 20px;
}