.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    background-image: url(../../../img/logo.png);
    width: 200px;
    height: 55px;
    background-size: contain;
    background-repeat: no-repeat;
}

.header__score {
    display: inline-block;
    margin-left: 10px;
}