.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
}

.header__logo {
    background-image: url(../../img/logo.png);
    width: 20em;
    height: 4em;
    background-size: contain;
    background-repeat: no-repeat;
}

.header__score {
    display: inline-block;
    margin-left: 0.5rem;
}

.header__credentials-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 24%;
}

.header__link {
    margin-left: 2%;
    text-decoration: none;
    padding: 0.5em;
    border-radius: 7%;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    background-color: #00bc8c;
}

.header__link:hover {
    -webkit-box-shadow: 2px 14px 19px -3px rgba(0, 188, 140, 0.2);
    -moz-box-shadow: 2px 14px 19px -3px rgba(0, 188, 140, 0.2);
    box-shadow: 2px 14px 19px -3px rgba(0, 188, 140, 0.2);
}