.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
}

.header__logo {
    background-image: url(../../img/logo.png);
    width: 20em;
    height: 4em;
    background-size: contain;
    background-repeat: no-repeat;
}

.header__score {
    display: inline-block;
    margin-left: 0.5rem;
}